.post {
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  padding: 14px;
}
.post-footer {
  
}
.post-footer a{
  color: blue;
  text-decoration: none;
}
.post-footer a:hover{
  text-decoration: underline;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body {
    background: #f4f4f4;
    line-height: 1.6;
    margin: 0;
}
header {
    background: #222;
    color: white;
    text-align: center;
    transition: 0.3s;
    padding: 20px;
}
.contact {
    background: #222;
    color: white;
    text-align: center;
    transition: 0.3s;
    padding: 20px;
    text-decoration: none;
}
footer a{
    color: white;
    text-decoration: none;
}
nav {
    background: #333;
    margin-top: 0px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}
nav a:hover {
    background: #666;
    border-radius: 4px;
}
.container{
  margin: 0;
}
