header h1{
  margin: 0;
  font-size: 32px;
}
.title{
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: bold;
}
.post {
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  padding: 14px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body {
    background: #f4f4f4;
    line-height: 1.6;
    margin: 0;
}
header {
    background: #222;
    color: white;
    text-align: center;
    transition: 0.3s;
    padding: 20px;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    transition: 0.3s;
    padding: 20px;
    text-decoration: none;
}
footer a{
    color: white;
    text-decoration: none;
}
nav {
    display: flex;
    background: #333;
    margin-top: 0px;
    justify-content: space-evenly;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 24px;
}
nav a:hover {
    background: #666;
    border-radius: 4px;
}